head
  title form-data-binder-driven-case
  meta(charset='utf-8')
  link(rel='stylesheet', href='gridforms.css')
  link(rel='stylesheet', href='index.css')
  script(src='vendor/jquery/jquery.js') 
  script(src='util.js') 
  script(src='form-data.js') 
  script(src='form-manager.js') 
  script(src='fieldset-maker.js') 
  script(src='index.js') 
  //- script(src='//localhost:35729/livereload.js') 


body
  h1 form-data-binder-driven-case: assginment form
  form.grid-form#assignment
    fieldset.create_assignment 
      legend 布置作业
      div(data-row-span='4')
        div(data-field-span='3') 
          label 题目
          input(type='text' name='title')
        div(data-field-span='1') 
          label 出题老师
          .a-plus.object(name='assignedBy')
            input(type='hidden' name='assignedBy._id')
            input(type='text' name='assignedBy.name')

      
      div(data-row-span='3')
        div(data-field-span='1') 
          .a-plus.array-container(name='forStudents' data-a-plus-restriction='[0, *]' data-a-plus-length='1') 
            label 参与学生列表
            .a-plus.array-item
              input.typeahead(type='text' name='forStudents[0]')
        .a-plus.object(name='restrictions')
          div(data-field-span='1') 
            label 截止时间
            input(type='datetime-local' name='restrictions.endTime')
          div(data-field-span='1') 
            label 最多提交次数
            input(type='datetime-local' name='restrictions.submitTimes')

      div(data-row-span='1' data-row-height='3')
        div(data-field-span='1') 
          label 具体要求
          textarea(name='requirement')
      
      .a-plus.array-container(name='submissions' data-a-plus-restriction='[0, 2]' data-a-plus-length='1')
        label 交付件列表
        .a-plus.array-item
          .a-plus.object(name='submissions[0]')
            div(data-row-span='3')
              div(data-field-span='1') 
                label 名称
                input(type='text' name='submissions[0].name')
              div(data-field-span='1') 
                .a-plus.array-container(name='submissions[0].type' data-a-plus-restriction='[1, *]' data-a-plus-length='1')
                  label 类型
                  .a-plus.array-item
                    input(type='text' name='submissions[0].type[0]')
              div(data-field-span='1') 
                label 副本数量  
                input(type='text' name='submissions[0].copiesAmount')

    //- label 作业提交表单
    //- textarea(name='assignmentFormDesign')

  //- formatted form
    1）必须加入.a-plus.array-container标记 array，用data-a-plus-length记录array的length
    2）必须用.a-plus.array-item注明array的item
    3) 必须用.a-plus.object标注出对象

