head
  title form-data-binder-driven-case
  meta(charset='utf-8')
  link(rel='stylesheet', href='gridforms.css')
  link(rel='stylesheet', href='index.css')
  script(src='vendor/jquery/jquery.js') 
  script(src='util.js') 
  script(src='form-data.js') 
  script(src='form-manager.js') 
  script(src='dom-creators/create-widget-dom-creator.js') 
  script(src='dom-creators/edit-widget-dom-creator.js') 
  script(src='dom-creators/view-widget-dom-creator.js') 
  script(src='dom-creators/list-widgets-dom-creator.js') 
  script(src='widgets-manager.js') 
  script(src='assignment.js') 
  script(src='model-parser.js') 
  script(src='descriptions-parser.js') 
  script(src='appearance-parser.js') 
  script(src='detail-spec-generator.js') 
  script(src='widget.js') 
  script(src='test.js') 
  //- script(src='//localhost:35729/livereload.js') 


body
  h1 fieldset-maker-driven-case: assginment form
  form.grid-form#assignment 

    //- label 作业提交表单
    //- textarea(name='assignmentFormDesign')

  //- formatted form
    1）必须加入.a-plus.array-container标记 array，用data-a-plus-length记录array的length
    2）必须用.a-plus.array-item注明array的item
    3) 必须用.a-plus.object标注出对象

